body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.p-5 {
  text-align: center;
}

textarea {
  background: transparent;
  border: .5px solid rgb(62, 46, 46);
  resize: none;
  color: #232121;
  border-left: 5px solid rgb(23, 22, 22);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border: none;
}

.hour {
  background-color: #f6e0e0;
  color: #232121;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #7b7b7b;
  color: #232121;
}

.present {
  background-color: #f6e0e0;
  color: #232121;
}

.future {
  background-color: #7bb0d3;
  color: #232121;
}

.saveBtn {
  border-top: 1px solid rgb(17, 41, 20);
  border-right: 1px solid rgb(17, 41, 20);
  border-bottom: 1px solid rgb(17, 41, 20);
  border-left: 5px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6fcd6a;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
